Cython
librosa
matplotlib
phonemizer
scipy
tensorboard
-f https://download.pytorch.org/whl/cu117/torch_stable.html
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
Unidecode
retry
tqdm
resampy
psutil
protobuf
numpy
pyopenjtalk
pyworld
h5py
onnx
onnxsim
onnxruntime
