pyopenjtalk
Cython==0.29.21
librosa==0.8.0
matplotlib==3.3.1
phonemizer==2.2.1
scipy==1.5.2
tensorboard==2.3.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cu111
torchvision==0.9.0
torchaudio==0.8.0
Unidecode==1.1.1
retry
tqdm
resampy==0.2.2

# Specific package for WSL2
psutil
protobuf==3.19.0
numpy==1.22