librosa==0.9.2
#matplotlib==3.3.1
numpy==1.23.0
phonemizer==2.2.1
#tensorboard==2.3.0
-f https://download.pytorch.org/whl/cu117/torch_stable.html
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
Unidecode==1.1.1
retry
onnx
onnxsim
onnxruntime
